body{
    font-family: 'Red Hat Mono', monospace;
    font-size: 18px; 
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #7986cb;
    height: 10vh;
    width: 100%;
}

header div{
    display: flex;
    flex-direction: row;
}

header nav{
    align-items: center ;
    display: flex;
    flex-direction: row;
    height: 100%;
}

h1{
    font-size: 1.5rem;
    margin: 0 0 0 10px;
}

aside{
    background-color: #c5cae9;
    height: 80vh;
    width: 15%;
}

aside nav{
    display: flex;
    flex-direction: column;
}

aside nav a{
    font-size: 0.8rem;
    text-align: center;
}

main{
    background-color: #e8eaf6;
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100%;
}

section{
    height: 80vh;
    width: 85%;
}

footer{
    background-color: #7986cb;
    height: 10vh;
    width: 100%;
}

.logo{
    height: 100%;
}

.user{
    height: 100%;
}