body{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    padding: 0%;
    margin: 0%;
}

.encabezado{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 10vh;
    margin: 0%;
    padding: 0%;
    width: 99.7%
}
.encabezado div{
    display: flex;
    flex-direction: row;
}

.logo{
    height: 100%;
}

.titulo{
    margin: 25px 20px;
    text-decoration: none;
    color: black
    ;
}

.barra{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.barra-icono{
    margin: 15px;
}

.barra-input{
    background-color: #e0e0e0;
    margin-top: 15px;
    width: 1000px;
    height: 45px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    padding: 0px 46px 0px 15px;
    border: none;
}

.barra-input:focus{
    outline: none;
    background-color: #ffcdd2 ;
}

.boton1{
    background: transparent;
    border: none;
}

.search{
    float: right;
    margin: 7px;
}

.actualizaciones{
    margin: 25px 20px;

}

.contenido{
    background-color: red;
    height: 100vh;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

/* AGREGAR MAS MARGIN A LA DERECHA DE .ACTUALIZACIONES */