body{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    padding: 0%;
    margin: 0%;
}

.encabezado{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 10vh;
    margin: 0%;
    padding: 0%;
    width: 99.7%
}
.encabezado div{
    display: flex;
    flex-direction: row;
}

.logo{
    height: 100%;
}

.titulo{
    margin: 25px 20px;
    text-decoration: none;
    color: black;
}

.boton-inicio{
    background: transparent;
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
}

.boton-hoy{
    background: transparent;
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
}

.boton-inicio:hover{
    background-color: #e0e0e0;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    height: 45px;
    margin-top: 15px;
}

.boton-hoy:hover{
    background-color: #e0e0e0;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    height: 45px;
    margin-top: 15px;
}

.barra{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.barra-icono{
    margin: 15px;
}

.barra-input{
    margin-top: 15px;
    background-color: #e0e0e0;
    width: 980px;
    height: 45px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    padding: 0px 46px 0px 15px;
    border: none;
    margin-right: 10px;
}

.barra-input:hover{
    background-color: #bdbdbd;
}

.barra-input:focus{
    outline: none;
    background-color: #ffcdd2 ;
}

.iconos{
    align-items: center;
    justify-content: center;
}

.act{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #9e9e9e;
    margin-top: 0;
    padding-right: 30px;
}

.boton-act{
    background-color: transparent;
    border: none;
}

i:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    height: 40px;
    width: 40px;
}

.msg{
    text-decoration: none;
    color: #9e9e9e;
    padding-right: 30px;
}

.user{
    text-decoration: none;
    color: #9e9e9e;
    padding-right: 30px;
}

.exp{
    text-decoration: none;
    color: #9e9e9e;
    padding-right: 30px;
}

.boton1{
    background: transparent;
    border: none;
}

.actualizaciones{
    margin: 25px 20px;

}

.contenido{
    background-color: white;
    height: 90vh;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

/* AGREGAR MAS MARGIN A LA DERECHA DE .ACTUALIZACIONES */